@tailwind base;
@tailwind components;
@tailwind utilities;

/* Importando os estilos do Swiper */
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import 'swiper/css/scrollbar';
@import 'swiper/css/effect-coverflow';

body {
  margin: 0 auto;
  font-family: 'Melodrama', sans-serif;
  
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;  /* Chrome, Safari and Opera */
  }
  
  .touch-pan-y {
    scroll-snap-type: y mandatory;
    overscroll-behavior-y: contain;
  }
  .shadow-custom {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }

}